{% extends "main/top_menu.html" %}
{% load static %}



{% block content %} 
  
  


    <div id='main'>
        
        
         
         <div class='topic' style='margin-top: 130px'>Black holes
             <p class='subtopic'>the "hungry" dead stars</p>
         </div>
            <!-- Slideshow container -->
            <div class="slideshow-container" id='slideshow-container'>

                <div class="mySlides fade">
                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk1'>
                    <div class='chunks'><div id='text1.1'  class='articles'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>Black holes are essentuially very heavy stars at the very end of their lifecyle. A star becomes a black hole after its death if its mass is above the Chandrasseckhar limit. Counterintuitively, the black hole does emeit light because it is exteremely hot, but it is so heavy that the photons of light, that do indeed have mass, but a very negligeable one, cannot escape its gravitational pool. </p></div></div>
                    <div class='articles' id='text1.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>Evolution of stars</div></div>
                    <div class='articles' id='text1.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text1.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text1.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text1.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    <div class='articles' id='text1.7' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The seventh article</div>
                    
                    
                    
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb1'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb1'>&#8250;</button>
                    
                    </div>

                    
                    <div class='mySlides colorblock_l' style='background-color: #3c096c' id='chunk2'>
                    <div class='chunks'>
                        
                        
                    <div class='articles' id='text2.1'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>The black hole's primary quality is that it is very heavy. If you fall towards a black hole. If you look at a black hole, you will only see the event horizon. Anything beyond it, we cannot see. The light doesn’t escape from there. It would need to travel faster than the speed of light to escape, which is, by definition, impossible. 

The black part is the center of a black hole is called the singularity. There are many theories of what it is, but none knows for sure. If we were talking about the beginning of the universe, the singularity would mean a point with infinite density and zero volume. This might be something like that. Or not. Anyway, it is a point that has an almost infinite gravity.
</p></div></div>
                    <div class='articles' id='text2.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>Gravity</p></div></div>
                    <div class='articles' id='text2.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text2.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text2.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text2.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb2'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb2'>&#8250;</button>
                    
                    </div>
  
                
  
                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk3'>
                    <div class='chunks'>
                    
                    <div class='articles' id='text3.1' >
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>By the way, the black holes don’t suck things up like a vacuum cleaner, as it is commonly presumed. If we placed a black holes instead of the sun, nothing much would change. Except for we would freeze to death, but that is a completely different story. Objects are only get attracted by the black hole if they pass the event horizon. The practical question is what would happen to you, if you fall into a black hole? You will experience time differently. Outside, you seem to slow down. But for yourself, you will be accelerating. You will see the universe accelerating. Seeing into the future. And then you just die. Because your cells get torn apart by gravity once you pass the event horizon and squeezed into one another. 

There are different kinds of black holes.  There are small stellar mass black holes with masses just several times that of the sun. And then there are SUPER MASSIVE BLACK HOLES. You can find one at the heart of every galaxy. They have been feeding for millions of years now.
</div></div>



                    <div class='articles' id='text3.2' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>


                    <div class='articles' id='text3.3' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text3.4' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text3.5' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text3.6' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    <button type='button' class='prevButton' id='pb3'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb3'>&#8250;</button></div>




<div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk4'>
                    <div class='chunks'>
                    
                    <div class='articles' id='text4.1' >
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>As powerful as they are, black holes eventually die through the process called Hawking radiation. They will evaporate. This halo around the black hole, it is the matter of the black hole being radiated away. These are tiny amounts of mass evaporating away from the black hole. But it will take time. For a black hole with a mass of our sun it will take this time to lose this percentage of mass. There will be no one in the universe to observe the death of black holes
</div></div>



                    <div class='articles' id='text4.2' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>


                    <div class='articles' id='text4.3' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text4.4' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text4.5' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text4.6' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    <button type='button' class='prevButton' id='pb4'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb4'>&#8250;</button></div>
                    <div id='container1'></div>
                    <div id='container2'></div>
                    <div id='container3'></div>
                    <div id='container4'></div>
                    <div id='container5'></div>
                    
                </div>
  
            
           
            </div>
                
  
<script type='text/javascript' src=" {% static 'assets/js/text_blocks_black_holes.js' %} "></script>

{% endblock %}


<footnote class='footing'><p class='footing-text'>Should any questions arise, please email <email>support@scien-z.com</email>. 
                        We are always happy tohear from fellow scienZists</p></footnote>



            

            
        


           
            
</div></div>


<script type = "text/javascript">
    const colorHeshes=[
    '#c1d3fe',
    '#5e60ce',
    '#fad2e1',
    '#e6b8a2',
    '#d8e2dc',
    '#219ebc',
    '#e5989b',
    '#457b9d',
    '#005f73',
    '#a0c4ff',
    '#95d5b2',
    '#1a759f',
    '#00afb9',
    '#abc4ff',
    '#f28482',
    '#6d597a',
    '#aed9e0',
    '#2c7da0',
    '#3c096c',
    '#a5adff',
    '#455e89',
];
    let colorIndex = Math.floor(Math.random()*colorHeshes.length);

    function getColorBlock(){
        let colorIndex = Math.floor(Math.random()*colorHeshes.length);
        return colorHeshes[colorIndex]
        };

    const changeThem=(id)=>{
        let colorIndex = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById(id).style.backgroundColor = colorHeshes[colorIndex];
        /*let colorIndex1 = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById('chunk2').style.backgroundColor = colorHeshes[colorIndex1];
        let colorIndex2 = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById('chunk3').style.backgroundColor = colorHeshes[colorIndex2];*/
    }

</script>    
    
<script type='text/javascript' src=" {% static '/Users/scienz/my-app/text_blocks — копия.js' %} "></script>

<script type='text/javascript' src=" {% static '/Users/scienz/scienz-website/scien-z.com/scienz(gatsby)/src/pages/index.js' %} "</script>


<script type='text/javascript' src=" {% static 'src/jqeery-dev — копия.js' %} "></script>
<script type='text/javascript' src=' {% static 'src/unfoldingMenu — копия.js' %} '></script>
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    








    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
  </body>
</html>








































<script>
  
  
  if(true) {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g {% static ';m.parentNode.insertBefore(a,m)' %} 
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  }
  if (typeof ga === "function") {
    ga('create', 'scienzdotcom', 'auto', {});
      
      
      
      
      
      }</script>
      <script>
        $(document).ready(() => {
        
        
          $('.menuSub1').on('click',() => {
            $('#nav-dropdown1').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
            
          });
          $('.menuSub2').on('click',() => {
            $('#nav-dropdown2').slideToggle('0.05s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
          $('.menuSub3').on('click',() => {
            $('#nav-dropdown3').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0000000000000005s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
          $('.menuSub4').on('click',() => {
            $('#nav-dropdown4').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0.0000000000000005s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
        
          
          $('.mySlides').on('click', ()=>{
            $('#nav-dropdown1').slideUp('0.000005s');
            $('#nav-dropdown2').slideUp('0.000005s');
            $('#nav-dropdown3').slideUp('0.000005s');
            $('#nav-dropdown4').slideUp('0.000005s')
        
          });
        
          $('.topic').on('click', ()=>{
            $('#nav-dropdown1').slideUp('0.000005s');
            $('#nav-dropdown2').slideUp('0.000005s');
            $('#nav-dropdown3').slideUp('0.000005s');
            $('#nav-dropdown4').slideUp('0.000005s')
        
          });
        
        
           
        
        });

        


</script>



          
          
 

          
      
      
      <script id="gatsby-script-loader">/*<![CDATA[*/window.pagePath="/";/*]]>*/</script><script id="gatsby-chunk-mapping">/*<![CDATA[*/window.___chunkMapping={"polyfill":["/polyfill-7098fbd47ba30034656d.js"],"app":["/app-d0f2b083c4ed3157418d.js"],"component---src-p {% static 'ages-404-js":["/com' %} ponent---src-pages-404-js-14dbd5a21f6e7794edc5.js"],"component---src-pages-index-js":["/component---src-pages-index-js-c4c3e775d0beba8b3c4e.js"]};/*]]>*/</script><script src="/polyfill-7098fbd47ba30034656d.js" nomodule=""></script><script src="/component---src-pages-index-js-c4c3e775d0beba8b3c4e.js" async=""></script><script src="/app-d0f2b083c4ed3157418d.js" async=""></script><script src="/framework-fa3b7d59246c477b5efb.js" async=""></script><script src="/webpack-runtime-7c055bf1ff9131f915ea.js" async=""></script></body></html>
