{% extends "main/top_menu.html" %}
{% load static %}



{% block content %} 
  
  
  
 

  


    <div id='main'>
        
        
         
         <div class='topic' style='margin-top: 130px'>Black body radiation
             <p class='subtopic'>the ultraviolte catastrophe and the dawn of quantum mechanics</p>
         </div>
            <!-- Slideshow container -->
            <div class="slideshow-container" id='slideshow-container'>

                <!--<div class="mySlides fade">
                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk1'>
                    <div class='chunks'><div id='text1.1' class='articles'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <p style='magin-top: -100px'><div class='inner_field'>The black body is a body that absorbs all the EM waves that fall on it. 
                        Inside, there is no escape for the light, so it just stays there.
                        'As the heat of the Sun travels from Sun to Earth with the speed of light, 
                        it reaches Earth in 8,33 minutes. Both heat and light are electromagnetic waves. 
                        They, however, have different wavelengths and frequencies. Visible light has higher 
                        frequencies than the heat (infrared light). Besides visible light and infrared radiation, 
                        the Sun emits as well ultraviolet radiation and other electromagnetic waves.</p></div></div>
                    <div class='articles' id='text1.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>
                    <div class='articles' id='text1.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text1.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text1.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text1.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    <div class='articles' id='text1.7' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The seventh article</div>
                    
                    
                    
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb1'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb1'>&#8250;</button>
                    
                    </div>-->

                    
                    <div class='mySlides colorblock_l' style='background-color: #3c096c' id='chunk2'>
                    <div class='chunks'>
                        
                        
                    <div class='articles' id='text2.1'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <p style='magin-top: -100px'><div class='inner_field'>Feynman was a really humorous guy, constantly joked and seemed not to take anything seriously. Well, except for his work, except for physics. And he liked simplifying stuff. Thus, he made the most threatening mathematical theory accessible and understandable by introducing his Feynman diagrams. The diagrams are a set of lines representing the motion of electrons and their exchange of photons. The diagrams represent mathematical expressions. They literarily show what is happening and how. Each part of the diagram corresponds to a mathematical term. Feynman developed a process to derive these expressions back and forth. 

These three events are:

1.	 Photon moves from one location to the other 
2.	 Electron moves from one location to the other
3.	 Electron emits a photon or absorbs a photon
</p></div></div>
                    <div class='articles' id='text2.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <p style='magin-top: -100px'></p></div>
                    <div class='articles' id='text2.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text2.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text2.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text2.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb2'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb2'>&#8250;</button>
                    
                    </div>
  
                
  
                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk3'>
                    <div class='chunks'>
                    
                    <div class='articles' id='text3.1' >
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>The exchanges of different quantities of photons have different probabilities. These probabilities could be expressed graphically as arrows. Imagine a clock. A probability amplitude (i.e. a complex number) is, quite simply, an arrow, with a direction and a length.
Calculating these probabilities follows one simple rule. The probability is the square of the amplitude. We have arrows and surfaces now, instead of wave functions and absolute squares of complex numbers which they technically represent. 
</div></div>



                    <div class='articles' id='text3.2' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>


                    <div class='articles' id='text3.3' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text3.4' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text3.5' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text3.6' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    <button type='button' class='prevButton' id='pb3'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb3'>&#8250;</button></div>



                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk4'>
                    <div class='chunks'><div id='text4.1' class='articles'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>The way he combines these arrows make sense too. He even notes the difference between photons (bosons) and electrons (fermions): for bosons, we just add arrows; for fermions, we need to subtract them (see my post on amplitudes and statistics in this regard). There is also the metaphor for the phase of a wave function, which is a stroke of genius really (I mean it): the direction of the ‘arrow’ is determined by a stopwatch hand, which starts turning when a photon leaves the light source, and stops when it arrives, as shown below.</p></div></div>
                    <div class='articles' id='text4.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>
                    <div class='articles' id='text4.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text4.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text4.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text4.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    <div class='articles' id='text4.7' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The seventh article</div>
                    
                    
                    
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb4'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb4'>&#8250;</button>
                    
                    </div>

                    
                    <div class='mySlides colorblock_l' style='background-color: #3c096c' id='chunk5'>
                    <div class='chunks'>
                        
                        
                    <div class='articles' id='text5.1'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>The wave represents exchanged photon. Each vertex where electron and photon lines meet represents a point at which an interaction occurs and is equivalent to a numerical factor that denotes the strength of the electromagnetic interaction. The number of these factors in the resulting expression is equal to number of vertices in the diagram. By combining all these pieces, a physicist can take the process depicted in a diagram and reconstruct the full mathematical statement that would result from manipulating the QED equations.</p></div></div>
                    <div class='articles' id='text5.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'></p></div></div>
                    <div class='articles' id='text5.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text5.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text5.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text5.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb5'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb5'>&#8250;</button>
                    
                    </div>
  
                
  
                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk6'>
                    <div class='chunks'>
                    
                    <div class='articles' id='text6.1' >
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>These diagrams are equivalent to the classical physics of Maxwell, This is truly remarkable in itself, but there is much more to the Feynman diagrams. Crucially, the same recipe can be used to construct any Feynman diagram: simply identify each algebraic component with the corresponding diagrammatic component and clip them together to form the diagram. What is unpleasant, is that to get a result you still need to perform some calculations, and not trivial ones as well. But better than the ones in the original version. There can be multiple possible interactions between particle. That’s why the arrows vary in length which is meant to represent probability, so longest arrows make the largest contribution to the final answer. </div></div>



                    <div class='articles' id='text6.2' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>


                    <div class='articles' id='text6.3' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text6.4' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text6.5' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text6.6' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    <button type='button' class='prevButton' id='pb6'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb6'>&#8250;</button></div>


                    <div id='container1'></div>
                    <div id='container2'></div>
                    <div id='container3'></div>
                    <div id='container4'></div>
                    <div id='container5'></div>
                    
                </div>
  
            
           
            
                
  <script type='text/javascript' src=" {% static 'assets/js/text_blocks_feynman_d.js' %} "></script>

{% endblock %}


<footnote class='footing'><p class='footing-text'>Should any questions arise, please email <email>support@scien-z.com</email>. 
                        We are always happy tohear from fellow scienZists</p></footnote>



            

            
        


           
            
</div></div>


<script type = "text/javascript">
    const colorHeshes=[
    '#c1d3fe',
    '#5e60ce',
    '#fad2e1',
    '#e6b8a2',
    '#d8e2dc',
    '#219ebc',
    '#e5989b',
    '#457b9d',
    '#005f73',
    '#a0c4ff',
    '#95d5b2',
    '#1a759f',
    '#00afb9',
    '#abc4ff',
    '#f28482',
    '#6d597a',
    '#aed9e0',
    '#2c7da0',
    '#3c096c',
    '#a5adff',
    '#455e89',
];
    let colorIndex = Math.floor(Math.random()*colorHeshes.length);

    function getColorBlock(){
        let colorIndex = Math.floor(Math.random()*colorHeshes.length);
        return colorHeshes[colorIndex]
        };

    const changeThem=(id)=>{
        let colorIndex = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById(id).style.backgroundColor = colorHeshes[colorIndex];
        /*let colorIndex1 = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById('chunk2').style.backgroundColor = colorHeshes[colorIndex1];
        let colorIndex2 = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById('chunk3').style.backgroundColor = colorHeshes[colorIndex2];*/
    }

</script>    
    
<script type='text/javascript' src=" {% static '/Users/scienz/my-app/text_blocks — копия.js' %} "></script>

<script type='text/javascript' src=" {% static '/Users/scienz/scienz-website/scien-z.com/scienz(gatsby)/src/pages/index.js' %} "</script>


<script type='text/javascript' src=" {% static 'src/jqeery-dev — копия.js' %} "></script>
<script type='text/javascript' src=' {% static 'src/unfoldingMenu — копия.js' %} '></script>
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  </body>
</html>








































<script>
  
  
  if(true) {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g {% static ';m.parentNode.insertBefore(a,m)' %} 
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  }
  if (typeof ga === "function") {
    ga('create', 'scienzdotcom', 'auto', {});
      
      
      
      
      
      }</script>
      <script>
        $(document).ready(() => {
        
        
          $('.menuSub1').on('click',() => {
            $('#nav-dropdown1').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
            
          });
          $('.menuSub2').on('click',() => {
            $('#nav-dropdown2').slideToggle('0.05s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
          $('.menuSub3').on('click',() => {
            $('#nav-dropdown3').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0000000000000005s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
          $('.menuSub4').on('click',() => {
            $('#nav-dropdown4').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0.0000000000000005s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
        
          
          $('.mySlides').on('click', ()=>{
            $('#nav-dropdown1').slideUp('0.000005s');
            $('#nav-dropdown2').slideUp('0.000005s');
            $('#nav-dropdown3').slideUp('0.000005s');
            $('#nav-dropdown4').slideUp('0.000005s')
        
          });
        
          $('.topic').on('click', ()=>{
            $('#nav-dropdown1').slideUp('0.000005s');
            $('#nav-dropdown2').slideUp('0.000005s');
            $('#nav-dropdown3').slideUp('0.000005s');
            $('#nav-dropdown4').slideUp('0.000005s')
        
          });
        
        
           
        
        });

        


</script>



      
      
      <script id="gatsby-script-loader">/*<![CDATA[*/window.pagePath="/";/*]]>*/</script><script id="gatsby-chunk-mapping">/*<![CDATA[*/window.___chunkMapping={"polyfill":["/polyfill-7098fbd47ba30034656d.js"],"app":["/app-d0f2b083c4ed3157418d.js"],"component---src-p {% static 'ages-404-js":["/com' %} ponent---src-pages-404-js-14dbd5a21f6e7794edc5.js"],"component---src-pages-index-js":["/component---src-pages-index-js-c4c3e775d0beba8b3c4e.js"]};/*]]>*/</script><script src="/polyfill-7098fbd47ba30034656d.js" nomodule=""></script><script src="/component---src-pages-index-js-c4c3e775d0beba8b3c4e.js" async=""></script><script src="/app-d0f2b083c4ed3157418d.js" async=""></script><script src="/framework-fa3b7d59246c477b5efb.js" async=""></script><script src="/webpack-runtime-7c055bf1ff9131f915ea.js" async=""></script></body></html>
