{% extends "main/top_menu.html" %}
{% load static %}



{% block content %} 
  
 

  


    <div id='main'>
        
        
         
         <div class='topic' style='margin-top: 130px'>Galaxies
             <p class='subtopic'>the beautiful and misterious districts in the Universe</p>
         </div>
            <!-- Slideshow container -->
            <div class="slideshow-container" id='slideshow-container'>

                <div class="mySlides fade">
                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk1'>
                    <div class='chunks'><div id='text1.1' class='articles'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>Galaxies are clsuters of stars situated in the vicinity of each other. </p></div></div>
                    <div class='articles' id='text1.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>
                    <div class='articles' id='text1.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text1.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text1.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text1.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    <div class='articles' id='text1.7' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The seventh article</div>
                    
                    
                    
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb1'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb1'>&#8250;</button>
                    
                    </div>

                    
                    


                    <div id='container1'></div>
                    <div id='container2'></div>
                    <div id='container3'></div>
                    <div id='container4'></div>
                    <div id='container5'></div>
                    
                </div>
  
            
           
            </div>
                
  
<script type='text/javascript' src=" {% static 'assets/js/text_blocks_galaxies.js' %} "></script>


{% endblock %}

<footnote class='footing'><p class='footing-text'>Should any questions arise, please email <email>support@scien-z.com</email>. 
                        We are always happy tohear from fellow scienZists</p></footnote>



            

            
        


           
            
</div></div>


<script type = "text/javascript">
    const colorHeshes=[
    '#c1d3fe',
    '#5e60ce',
    '#fad2e1',
    '#e6b8a2',
    '#d8e2dc',
    '#219ebc',
    '#e5989b',
    '#457b9d',
    '#005f73',
    '#a0c4ff',
    '#95d5b2',
    '#1a759f',
    '#00afb9',
    '#abc4ff',
    '#f28482',
    '#6d597a',
    '#aed9e0',
    '#2c7da0',
    '#3c096c',
    '#a5adff',
    '#455e89',
];
    let colorIndex = Math.floor(Math.random()*colorHeshes.length);

    function getColorBlock(){
        let colorIndex = Math.floor(Math.random()*colorHeshes.length);
        return colorHeshes[colorIndex]
        };

    const changeThem=(id)=>{
        let colorIndex = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById(id).style.backgroundColor = colorHeshes[colorIndex];
        /*let colorIndex1 = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById('chunk2').style.backgroundColor = colorHeshes[colorIndex1];
        let colorIndex2 = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById('chunk3').style.backgroundColor = colorHeshes[colorIndex2];*/
    }

</script>    
    
<script type='text/javascript' src=" {% static '/Users/scienz/my-app/text_blocks — копия.js' %} "></script>

<script type='text/javascript' src=" {% static '/Users/scienz/scienz-website/scien-z.com/scienz(gatsby)/src/pages/index.js' %} "</script>


<script type='text/javascript' src=" {% static 'src/jqeery-dev — копия.js' %} "></script>
<script type='text/javascript' src=' {% static 'src/unfoldingMenu — копия.js' %} '></script>
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    








    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
  </body>
</html>








































<script>
  
  
  if(true) {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g {% static ';m.parentNode.insertBefore(a,m)' %} 
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  }
  if (typeof ga === "function") {
    ga('create', 'scienzdotcom', 'auto', {});
      
      
      
      
      
      }</script>
      <script>
        $(document).ready(() => {
        
        
          $('.menuSub1').on('click',() => {
            $('#nav-dropdown1').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
            
          });
          $('.menuSub2').on('click',() => {
            $('#nav-dropdown2').slideToggle('0.05s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
          $('.menuSub3').on('click',() => {
            $('#nav-dropdown3').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0000000000000005s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
          $('.menuSub4').on('click',() => {
            $('#nav-dropdown4').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0.0000000000000005s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
        
          
          $('.mySlides').on('click', ()=>{
            $('#nav-dropdown1').slideUp('0.000005s');
            $('#nav-dropdown2').slideUp('0.000005s');
            $('#nav-dropdown3').slideUp('0.000005s');
            $('#nav-dropdown4').slideUp('0.000005s')
        
          });
        
          $('.topic').on('click', ()=>{
            $('#nav-dropdown1').slideUp('0.000005s');
            $('#nav-dropdown2').slideUp('0.000005s');
            $('#nav-dropdown3').slideUp('0.000005s');
            $('#nav-dropdown4').slideUp('0.000005s')
        
          });
        
        
           
        
        });

        


</script>





      
      
      <script id="gatsby-script-loader">/*<![CDATA[*/window.pagePath="/";/*]]>*/</script><script id="gatsby-chunk-mapping">/*<![CDATA[*/window.___chunkMapping={"polyfill":["/polyfill-7098fbd47ba30034656d.js"],"app":["/app-d0f2b083c4ed3157418d.js"],"component---src-p {% static 'ages-404-js":["/com' %} ponent---src-pages-404-js-14dbd5a21f6e7794edc5.js"],"component---src-pages-index-js":["/component---src-pages-index-js-c4c3e775d0beba8b3c4e.js"]};/*]]>*/</script><script src="/polyfill-7098fbd47ba30034656d.js" nomodule=""></script><script src="/component---src-pages-index-js-c4c3e775d0beba8b3c4e.js" async=""></script><script src="/app-d0f2b083c4ed3157418d.js" async=""></script><script src="/framework-fa3b7d59246c477b5efb.js" async=""></script><script src="/webpack-runtime-7c055bf1ff9131f915ea.js" async=""></script></body></html>
