{% extends "main/top_menu.html" %}
{% load static %}



{% block content %} 
  

  


    <div id='main'>
        
        
         
         <div class='topic' style='margin-top: 130px'>Photoelectric effect
             <p class='subtopic'>Einstein's proof of the particulate nature of light</p>
         </div>
            <!-- Slideshow container -->
            <div class="slideshow-container" id='slideshow-container'>

                <div class="mySlides fade">
                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk1'>
                    <div class='chunks'><div id='text1.1' class='articles'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>The photoelectric effect is a phenomenon that the 19th century physics was unable to explain. 
When you point light on an electrically charged plate, electrons start to get emitted. This contradicted the dominant theory of Maxwell’s electromagnetism, which stated that light is a wave. This was the proof that it is actually not that simple with light, one of the indicators of wave-particle duality. 
</p></div></div>
                    <div class='articles' id='text1.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>Black body is a hypothetical physical body that absorbs the electromagnetic (light) waves of all frequencies, and, therefore, emits the waves of all frequencies. There was a problem with it called the ultraviolet catastrophe where classical physics broke down because for large frequencies (such as that of UV) the results yielded infinity, which is not possible. As any other body consists of atoms. Planck concluded that the the energy emitted by the black body depends on its frequency in a relationship E=hf, where h=6,63*10**-34    Is the Planck constant. Besides, the Energy can only be emitted or absorbed in quants, small discrete portions of energy, where one quant is the energy of one photon. This was the start of QM.</div></div>
                    <div class='articles' id='text1.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text1.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text1.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text1.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    <div class='articles' id='text1.7' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The seventh article</div>
                    
                    
                    
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb1'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb1'>&#8250;</button>
                    
                    </div>

                    
                    <div class='mySlides colorblock_l' style='background-color: #3c096c' id='chunk2'>
                    <div class='chunks'>
                        
                        
                    <div class='articles' id='text2.1'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>The experiment goes like that: cathode rays (which are essentially rays of electrons) are incident on metallic foil. When this experiment is set with electrons rays, it is unsurprising that electrons get kicked out of the foil. It can be explained by analogy with microscopic snooker balls. But when light does it, it should be a bit different. If it was a wave we were talking about (and light, according to the old-fashioned Maxwell’s electromagnetism, is a wave), than the electrons should gain the energy from the INTENSITY of light. <p></div></div>
                    <div class='articles' id='text2.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>((waves))</p></div></div>
                    <div class='articles' id='text2.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>Brownian motion is This means the random motion of molecules. The gas particles move in Brownian motion. You can see the dust in your room in summer perform the Brownian in the air. In the Brownian motion the particles collide many times</div></div>
                    <div class='articles' id='text2.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>According to this assumption, the brighter the light, the higher the energy of individual electrons kicked out of the foil would be. But when the energy of individual electrons was measured with a fairly complicated devise, it turned out to be different. You see, when the electrons fly out from the metal plate, they have certain amount of kinetic energy, that they initially lose as they go. And when it was measured, it was not dependent of the brightness of light. Besides, there is some minimal frequency below which the electrons don’t get emitted, regardless of the intensity. <p></div></div>
                    <div class='articles' id='text2.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text2.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb2'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb2'>&#8250;</button>
                    
                    </div>
  
                
  
                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk3'>
                    <div class='chunks'>
                    
                    <div class='articles' id='text3.1' >
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>Einstein is, obviously, most famous for his theory of special relativity, but some other of his major works are related to QM. In his work on Brownian motion Einstein introduced the formula E= nhf 
It is just the hf from Planck multiplied by the number of particles. The hf component here means the  energy of  an individual quant, which proves that energy is discrete and consists of quants. Einstein proved that the random motion of small particles in fluids is due to the motion of molecules. It became the first real prove of the existence of atoms. The atoms were actually suggested multiple times before that, ever since even the 5th century BC, when that were suggested by a Greek philosophies Democritus. But this was still under question before Einstein.
</div></div>



                    <div class='articles' id='text3.2' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>


                    <div class='articles' id='text3.3' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text3.4' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text3.5' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text3.6' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    <button type='button' class='prevButton' id='pb3'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb3'>&#8250;</button></div>
                        
                        
                        
                        
                        
                        <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk4'>
                    <div class='chunks'><div id='text4.1' class='articles'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>The outcomes of the photoelectric theory are that
First of all, the energy of electrons being kicked out of matter is depends on the wavelength of the incident lightIt would have made sense if the stronger with kicked the ball, the faster it would go. But no. In fact, energy is inversely proportional to wavelength. Weird, isn’t it? In photoelectric effect the light of higher intensity doesn’t kick out electrons with higher energy, it just kicks out more electrons.
Bright light increases the number of photons, but not the energy of an individual photon</p></div></div>
                    <div class='articles' id='text4.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>•	If things were going as according to the wave theory, photoelectric effect should occur with any frequency of light, taken that it is intensive enough to give electrons enough energy for departing. But there turned out to be a minimum frequency necessary for it. With Planck’s equation it seems obvious (E=hf)
                        
                        •	Wave theory implied that there will be a delay needed for the electrons to absorb energy for departure. But no. All happened momentarily. It is because the electron doesn’t need to absorb the energy of a wave, the energy is transferred by collision. </div></div>
                    <div class='articles' id='text4.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text4.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text4.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text4.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    <div class='articles' id='text4.7' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The seventh article</div>
                    
                    
                    
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb4'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb4'>&#8250;</button>
                    
                    </div>
                        
                        
                        
                        

                    
                    <div class='mySlides colorblock_l' style='background-color: #3c096c' id='chunk5'>
                    <div class='chunks'>
                        
                        
                    <div class='articles' id='text5.1'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>Einstein’s explanation of photoelectric effect: 

If we accept that light incident on the plate consist of quants of energy (photons) of magnitude hf , than the process of kicking out electrons by light can be represented as quants passing though the surface of metal on the electrode. Their energy passes into kinetic energy of electrons, part of which fly out of the plate. </p></div></div>

                    <div class='articles' id='text5.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>((waves))</p></div></div>
                    <div class='articles' id='text5.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>((Brownian motion))</div></div>
                    <div class='articles' id='text5.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text5.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text5.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb5'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb5'>&#8250;</button>
                    
                    </div>
  
                
  
                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk6'>
                    <div class='chunks'>
                    
                    <div class='articles' id='text6.1' >
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>In other words, a photon gives its energy to the electrons, but an electron loses part of it while getting to the surface.  It happens because there is some work (P) that the electron needs to do to escape the metal, which would depend on the metal’s type. 
Photoelectric effect can be described by this formula:

qU0 = hf-P 

qU0=E(max)
E (max) = ½ m(e)v**2

qU0 is the energy needed to neutralize the kinetic energy and turn the stream of electrons into zero.
, this comes from method by which the energy of electrons is measured.   ‘q’ is the charge of electon and U is the voltage needed to hold it. 
</div></div>



                    <div class='articles' id='text6.2' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>The important part is the second part, because this is what the experimentally right value equals to, thus proving that the predictions were correct. Initial energy of the electon plus the work done equal to the energy of one quant. All good. </div></div>


                    <div class='articles' id='text6.3' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>Beside, this equation explained why there was a minimal frequency needed to kick out atoms. If F is not big enough to weight out P, than there is no point. And this solves the issue of the intensity. In Einstein’s model, the energy is transferred from a single photon to a single electron. But intensity is nothing but the quantity of photons. A more intensive ray of light will kick out more electrons, but would not give them more energy. </div></div>
                    <div class='articles' id='text6.4' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text6.5' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text6.6' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    <button type='button' class='prevButton' id='pb6'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb6'>&#8250;</button></div>
                        
                        <div class='mySlides colorblock_l' style='background-color: #3c096c' id='chunk7'>
                    <div class='chunks'>
                        
                        
                    <div class='articles' id='text7.1'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>There is one experiment in physics which is used to demonstrate the wave nature of the light. It is called the Young double-slit experiment. Now it is also used to demonstrate the wave-particle duality.

A ray is incident to a screen with two slits, that allows the light to fall on the second screen that shows a picture on interference, a pattern that is a property of waves. It appears because individual waves of light passing through slits disperse and get put one on another before reaching the second screen. Where two nods(bright parts) bright lines occur, and where two noughts (dimmer parts) intersect-dark regions.</div></div>

                    <div class='articles' id='text7.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>Just for comparison, if we do the same with sand, it would simply form two heaps of sand. This is how we assume particles have to behave themselves.</p></div></div>
                    <div class='articles' id='text7.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>And it is all good as long as it is light doing it, as we are kinda comfortable with light spreading in all directions and passing through both slits at the same time. But the fun part is: individual particles do it too. If you set individual electrons (which we are used to treating as particles, something we visualize as very small snooker balls), you will get the exact same particles over time. This implies that particles behave like waves: they pass through both slit at the same time. And this is one of the point where we enter the domain if weirdness of QM. </div></div>
                    <div class='articles' id='text7.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text7.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text7.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb7'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb7'>&#8250;</button>
                    
                    </div>
  
                
  
                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk8'>
                    <div class='chunks'>
                    
                    <div class='articles' id='text8.1' >
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>
So, photoelectric effect implies that light is most clearly a particle, while the Young experiment implies that it is a wave. This looks wrong. But this is how it is. This is called wave-particle duality. This is the convention in physics nowadays. Photons (and particles on the whole)  behaves like a particle in some cases and it behaves like a wave in the others. 
This arises many uncomfortable moments. For example, that a particle has a wavelength and a frequency. Or that a wave has mass. Somehow, mutually exclusive things turn out to be interchanging. 
</div></div>



                    <div class='articles' id='text8.2' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>


                    <div class='articles' id='text8.3' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text8.4' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text8.5' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text8.6' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    <button type='button' class='prevButton' id='pb8'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb8'>&#8250;</button></div>


                    <div id='container1'></div>
                    <div id='container2'></div>
                    <div id='container3'></div>
                    <div id='container4'></div>
                    <div id='container5'></div>
                    
                </div>
  
            
           
            
               </div>
                        
    <script type='text/javascript' src=" {% static 'assets/js/text_blocks_pe_effect.js' %} "></script>                    
                  
  
{% endblock %}




<footnote class='footing'><p class='footing-text'>Should any questions arise, please email <email>support@scien-z.com</email>. 
                        We are always happy tohear from fellow scienZists</p></footnote>



            

            
        


           
            
</div></div>


<script type = "text/javascript">
    const colorHeshes=[
    '#c1d3fe',
    '#5e60ce',
    '#fad2e1',
    '#e6b8a2',
    '#d8e2dc',
    '#219ebc',
    '#e5989b',
    '#457b9d',
    '#005f73',
    '#a0c4ff',
    '#95d5b2',
    '#1a759f',
    '#00afb9',
    '#abc4ff',
    '#f28482',
    '#6d597a',
    '#aed9e0',
    '#2c7da0',
    '#3c096c',
    '#a5adff',
    '#455e89',
];
    let colorIndex = Math.floor(Math.random()*colorHeshes.length);

    function getColorBlock(){
        let colorIndex = Math.floor(Math.random()*colorHeshes.length);
        return colorHeshes[colorIndex]
        };

    const changeThem=(id)=>{
        let colorIndex = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById(id).style.backgroundColor = colorHeshes[colorIndex];
        /*let colorIndex1 = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById('chunk2').style.backgroundColor = colorHeshes[colorIndex1];
        let colorIndex2 = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById('chunk3').style.backgroundColor = colorHeshes[colorIndex2];*/
    }

</script>    
    
<script type='text/javascript' src=" {% static '/Users/scienz/my-app/text_blocks — копия.js' %} "></script>

<script type='text/javascript' src=" {% static '/Users/scienz/scienz-website/scien-z.com/scienz(gatsby)/src/pages/index.js' %} "</script>


<script type='text/javascript' src=" {% static 'src/jqeery-dev — копия.js' %} "></script>
<script type='text/javascript' src=' {% static 'src/unfoldingMenu — копия.js' %} '></script>
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    








    
  </body>
</html>








































<script>
  
  
  if(true) {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g {% static ';m.parentNode.insertBefore(a,m)' %} 
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  }
  if (typeof ga === "function") {
    ga('create', 'scienzdotcom', 'auto', {});
      
      
      
      
      
      }</script>
      <script>
        $(document).ready(() => {
        
        
          $('.menuSub1').on('click',() => {
            $('#nav-dropdown1').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
            
          });
          $('.menuSub2').on('click',() => {
            $('#nav-dropdown2').slideToggle('0.05s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
          $('.menuSub3').on('click',() => {
            $('#nav-dropdown3').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0000000000000005s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
          $('.menuSub4').on('click',() => {
            $('#nav-dropdown4').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0.0000000000000005s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
        
          
          $('.mySlides').on('click', ()=>{
            $('#nav-dropdown1').slideUp('0.000005s');
            $('#nav-dropdown2').slideUp('0.000005s');
            $('#nav-dropdown3').slideUp('0.000005s');
            $('#nav-dropdown4').slideUp('0.000005s')
        
          });
        
          $('.topic').on('click', ()=>{
            $('#nav-dropdown1').slideUp('0.000005s');
            $('#nav-dropdown2').slideUp('0.000005s');
            $('#nav-dropdown3').slideUp('0.000005s');
            $('#nav-dropdown4').slideUp('0.000005s')
        
          });
        
        
           
        
        });

        


</script>




          
      <script id="gatsby-script-loader">/*<![CDATA[*/window.pagePath="/";/*]]>*/</script><script id="gatsby-chunk-mapping">/*<![CDATA[*/window.___chunkMapping={"polyfill":["/polyfill-7098fbd47ba30034656d.js"],"app":["/app-d0f2b083c4ed3157418d.js"],"component---src-p {% static 'ages-404-js":["/com' %} ponent---src-pages-404-js-14dbd5a21f6e7794edc5.js"],"component---src-pages-index-js":["/component---src-pages-index-js-c4c3e775d0beba8b3c4e.js"]};/*]]>*/</script><script src="/polyfill-7098fbd47ba30034656d.js" nomodule=""></script><script src="/component---src-pages-index-js-c4c3e775d0beba8b3c4e.js" async=""></script><script src="/app-d0f2b083c4ed3157418d.js" async=""></script><script src="/framework-fa3b7d59246c477b5efb.js" async=""></script><script src="/webpack-runtime-7c055bf1ff9131f915ea.js" async=""></script></body></html>
