{% extends "main/top_menu.html" %}
{% load static %}



{% block content %} 
  
  


    <div id='main'>
        
        
         
         <div class='topic' style='margin-top: 130px'>Quantum computers
             <p class='subtopic'>the future of computational technology</p>
         </div>
            <!-- Slideshow container -->
            <div class="slideshow-container" id='slideshow-container'>

                <div class="mySlides fade">
                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk1'>
                    <div class='chunks'><div id='text1.1' class='articles'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>Classical computers only have 2 states: 0 and 1, true or false, on and off, whatever you call it. But quantum computers can have more states. Due to the principle of quantum superposition, the quantum bits, or qubits can actually exist in 2 states simultaneously. So, if there are 2 qubits, the are 2**2 states: 4 bits of information. So, for N qubits, the informational equivalent would be 2**N classical bits. Even thought we say that the electrons are in both states simultaneously, we can compute the probability of finding it in one of the states.</p></div></div>
                    <div class='articles' id='text1.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>
                    <div class='articles' id='text1.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text1.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text1.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text1.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    <div class='articles' id='text1.7' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The seventh article</div>
                    
                    
                    
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb1'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb1'>&#8250;</button>
                    
                    </div>

                    
                    <div class='mySlides colorblock_l' style='background-color: #3c096c' id='chunk2'>
                    <div class='chunks'>
                        
                        
                    <div class='articles' id='text2.1'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>Qubits are made using physical systems, such as the spin of an electron or the orientation of a photon. These systems can be in many different arrangements all at once, a property known as quantum superposition. Qubits can also be inextricably linked together using a phenomenon called quantum entanglement.<p></div></div>
                    <div class='articles' id='text2.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>The states are relates to the property of an electron called spin. It can point up or down. Normally, the soon would adjust to the magnetic field that holds the electron in place. But if you apply some force, you can artificially turn it into the opposite direction, just like you could turn the arrow of a compass or a magnet in the magnetic field. However, what we are considering is the probability of an electron to be found in either of the quantum states….</p></div></div>
                    <div class='articles' id='text2.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text2.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text2.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text2.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb2'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb2'>&#8250;</button>
                    
                    </div>
  
                
  
                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk3'>
                    <div class='chunks'>
                    
                    <div class='articles' id='text3.1' >
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>Quantum computers do not actually increase the speed of operations. They just decrease the number of steps that it takes to get to the result. Thus, they would not perform all operations better than classical computers, and are not meant to replace them. However, quantum computers are going to work millions of times faster than the classical one. Areas where it would definitely outperform the classical computers are medicine, encryption, artificial intelligence, chemistry. Basically, for simulating a system.</div></div>



                    <div class='articles' id='text3.2' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>


                    <div class='articles' id='text3.3' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text3.4' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text3.5' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text3.6' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    <button type='button' class='prevButton' id='pb3'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb3'>&#8250;</button></div>
                        
                        
                        
                        
                         <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk4'>
                    <div class='chunks'>
                    
                    <div class='articles' id='text4.1' ><div class='inner_field'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>One of the things the quantum computers are best suited for is factorisation of big numbers, something used is cryptography a lot. Quantum supremacy, the larger efficiency of quantum computers as opposed to classical ones. Google has  already shown quntum supremacy in 2018, completing a task in 200 seconds as opposed to 100000. </div></div>



                    <div class='articles' id='text4.2' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>


                    <div class='articles' id='text4.3' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text4.4' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text4.5' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text4.6' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    <button type='button' class='prevButton' id='pb4'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb4'>&#8250;</button></div>
                        
                        
                        
                         <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk5'>
                    <div class='chunks'>
                    
                    <div class='articles' id='text5.1' >
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>The time required by each of our methods for computing the interference pattern increases at different rates as the number of layers
n increases. For a single layer, the time it takes a computer to calculate the likelihood of two paths is likely tiny—much less than a second, while averaging millions of single photon measurements might take several seconds.
But as n increases, the time required for the classical computation increases exponentially with
n as the number of possible paths explodes. However, the time required for the quantum experiment increases only linearly in n.
. ((fomula))</div></div>



                    <div class='articles' id='text5.2' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>


                    <div class='articles' id='text5.3' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text5.4' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text5.5' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text5.6' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    <button type='button' class='prevButton' id='pb5'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb5'>&#8250;</button></div>
                        
                        
                        
                         <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk6'>
                    <div class='chunks'>
                    
                    <div class='articles' id='text6.1' >
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>Quantum computers are incredibly sensitive to interference.
Almost anything can knock a qubit out of the delicate state of superposition. As a result, quantum computers have to be kept isolated from all forms of electrical interference, and chilled down to close to absolute zero. That’s colder than outer space.
They’ll mostly be used by academics and businesses, who will probably access them remotely. But we still have a while to wait before quantum computers can do all the things they promise. Right now, the best quantum computers have about 50 qubits. That’s enough to make them incredibly powerful, because every qubit you add means an exponential increase in processing capacity. But they also have really high error rates, because of those problems with interference.
</div></div>



                    <div class='articles' id='text6.2' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>


                    <div class='articles' id='text6.3' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text6.4' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text6.5' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text6.6' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    <button type='button' class='prevButton' id='pb6'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb6'>&#8250;</button></div>
                        
                        
                        
                        
                        <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk7'>
                    <div class='chunks'>
                    
                    <div class='articles' id='text7.1' >
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>They’re powerful, but not reliable. That means that for now, claims of quantum supremacy have to be taken with a pinch of salt. In October 2019, Google published a paper suggesting it had achieved quantum supremacy – the point at which a quantum computer can outperform a classical computer. But its rivals disputed the claim – IBM said Google had not tapped into the full power of modern supercomputers.
Most of the big breakthroughs so far have been in controlled settings, or using problems that we already know the answer to. In any case, reaching quantum supremacy doesn’t mean quantum computers are actually ready to do anything useful.

</div></div>



                    <div class='articles' id='text7.2' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>


                    <div class='articles' id='text7.3' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text7.4' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text7.5' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text7.6' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    <button type='button' class='prevButton' id='pb7'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb7'>&#8250;</button></div>


                    <div id='container1'></div>
                    <div id='container2'></div>
                    <div id='container3'></div>
                    <div id='container4'></div>
                    <div id='container5'></div>
                    
                </div>
  
            
           
            </div>
                
  <script type='text/javascript' src=" {% static 'assets/js/text_blocks_q_comp.js' %} "></script>


{% endblock %}


<footnote class='footing'><p class='footing-text'>Should any questions arise, please email <email>support@scien-z.com</email>. 
                        We are always happy tohear from fellow scienZists</p></footnote>



            

            
        


           
            
</div></div>


<script type = "text/javascript">
    const colorHeshes=[
    '#c1d3fe',
    '#5e60ce',
    '#fad2e1',
    '#e6b8a2',
    '#d8e2dc',
    '#219ebc',
    '#e5989b',
    '#457b9d',
    '#005f73',
    '#a0c4ff',
    '#95d5b2',
    '#1a759f',
    '#00afb9',
    '#abc4ff',
    '#f28482',
    '#6d597a',
    '#aed9e0',
    '#2c7da0',
    '#3c096c',
    '#a5adff',
    '#455e89',
];
    let colorIndex = Math.floor(Math.random()*colorHeshes.length);

    function getColorBlock(){
        let colorIndex = Math.floor(Math.random()*colorHeshes.length);
        return colorHeshes[colorIndex]
        };

    const changeThem=(id)=>{
        let colorIndex = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById(id).style.backgroundColor = colorHeshes[colorIndex];
        /*let colorIndex1 = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById('chunk2').style.backgroundColor = colorHeshes[colorIndex1];
        let colorIndex2 = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById('chunk3').style.backgroundColor = colorHeshes[colorIndex2];*/
    }

</script>    
    
<script type='text/javascript' src=" {% static '/Users/scienz/my-app/text_blocks — копия.js' %} "></script>

<script type='text/javascript' src=" {% static '/Users/scienz/scienz-website/scien-z.com/scienz(gatsby)/src/pages/index.js' %} "</script>


<script type='text/javascript' src=" {% static 'src/jqeery-dev — копия.js' %} "></script>
<script type='text/javascript' src=' {% static 'src/unfoldingMenu — копия.js' %} '></script>
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    

  </body>
</html>








































<script>
  
  
  if(true) {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g {% static ';m.parentNode.insertBefore(a,m)' %} 
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  }
  if (typeof ga === "function") {
    ga('create', 'scienzdotcom', 'auto', {});
      
      
      
      
      
      }</script>
      <script>
        $(document).ready(() => {
        
        
          $('.menuSub1').on('click',() => {
            $('#nav-dropdown1').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
            
          });
          $('.menuSub2').on('click',() => {
            $('#nav-dropdown2').slideToggle('0.05s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
          $('.menuSub3').on('click',() => {
            $('#nav-dropdown3').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0000000000000005s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
          $('.menuSub4').on('click',() => {
            $('#nav-dropdown4').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0.0000000000000005s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
        
          
          $('.mySlides').on('click', ()=>{
            $('#nav-dropdown1').slideUp('0.000005s');
            $('#nav-dropdown2').slideUp('0.000005s');
            $('#nav-dropdown3').slideUp('0.000005s');
            $('#nav-dropdown4').slideUp('0.000005s')
        
          });
        
          $('.topic').on('click', ()=>{
            $('#nav-dropdown1').slideUp('0.000005s');
            $('#nav-dropdown2').slideUp('0.000005s');
            $('#nav-dropdown3').slideUp('0.000005s');
            $('#nav-dropdown4').slideUp('0.000005s')
        
          });
        
        
           
        
        });

        


</script>





          
       

         
      
      <script id="gatsby-script-loader">/*<![CDATA[*/window.pagePath="/";/*]]>*/</script><script id="gatsby-chunk-mapping">/*<![CDATA[*/window.___chunkMapping={"polyfill":["/polyfill-7098fbd47ba30034656d.js"],"app":["/app-d0f2b083c4ed3157418d.js"],"component---src-p {% static 'ages-404-js":["/com' %} ponent---src-pages-404-js-14dbd5a21f6e7794edc5.js"],"component---src-pages-index-js":["/component---src-pages-index-js-c4c3e775d0beba8b3c4e.js"]};/*]]>*/</script><script src="/polyfill-7098fbd47ba30034656d.js" nomodule=""></script><script src="/component---src-pages-index-js-c4c3e775d0beba8b3c4e.js" async=""></script><script src="/app-d0f2b083c4ed3157418d.js" async=""></script><script src="/framework-fa3b7d59246c477b5efb.js" async=""></script><script src="/webpack-runtime-7c055bf1ff9131f915ea.js" async=""></script></body></html>
