
{% load static %}


<div>
<form method='POST' action='text_algo'>
{% csrf_token %}
<label>Please input the text here</label>
<br />



<div class="field">
  <div class="control">
    <textarea class="textarea is-link" placeholder="Please input the article here" rows='30' cols='70' name='text_to_analyze' for='analysis'></textarea>
  </div>


</div>
<div class='buttons'>
<button class="button is-link is-small is-rounded" type='submit' action='text_algo' id='analysis'>Submit</button>
</div>
</form>
</div>
<br />
<br />



