{% extends "main/top_menu.html" %}
{% load static %}



{% block content %} 

    <div id='main'>
        
        
         
         <div class='topic' style='margin-top: 130px'>Thermonuclear fusion
             <p class='subtopic'>the wat we can 'bottle a star'</p>
         </div>
            <!-- Slideshow container -->
            <div class="slideshow-container" id='slideshow-container'>

                <div class="mySlides fade">
                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk1'>
                    <div class='chunks'><div id='text1.1' class='articles'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>Nuclear fusion—a process in which two lighter nuclei, typically isotopes of hydrogen, combine together under conditions of extreme pressure and temperature to form a heavier nucleus. It essentially is the release of energy stored in the bonds between atoms. The atoms are held together by electromagnetic forces between the nucleus and the electrons, but the nucleus is held together by strong nuclear force, which is much, much greater. It has a magnitude of around 10 in the power of 38 gravitational field strength.[N per kg]</p></div></div>
                    <div class='articles' id='text1.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>
                    <div class='articles' id='text1.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text1.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text1.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text1.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    <div class='articles' id='text1.7' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The seventh article</div>
                    
                    
                    
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb1'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb1'>&#8250;</button>
                    
                    </div>

                    
                    <div class='mySlides colorblock_l' style='background-color: #3c096c' id='chunk2'>
                    <div class='chunks'>
                        
                        
                    <div class='articles' id='text2.1'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>Basically, building a fusion reactor is essentially the same as building the sun on earth, bottling a star. In the Sun, the temperature and thus the kinetic energy of the particles  is so hot, that the electrons  are able to overcome the electromagnetic force and get released free of their nuclei, creating plasma. (A state where subatomic particles are just bouncing around freely, not being bound by strong atomic and electromagnetic forces). Since the nuclei are all positively charged, they repel each other. That’s why they wouldn’t fuse on Earth. <p></div></div>
                    <div class='articles' id='text2.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>Different elements can emit waves of different frequencies. You might have come across an expression “the emission spectrum of an element”. 
                            This is what is used to determine the chemical composition of istant objects.This has to do with Balmer’s formula. 
                            Bohr derived Balmer’s formula with his atomic model. 
                            He mixed up classical and quantum physics and he got the same formula, but with R,
                            Ridberg’s constant, represented as 2pi2nq4 /h3. This formula allowed to calculate the spectrum for hydrogen from the knowledge about the electrons on its orbits.</p></div></div>
                    <div class='articles' id='text2.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text2.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text2.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text2.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb2'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb2'>&#8250;</button>
                    
                    </div>
  
                
  
                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk3'>
                    <div class='chunks'>
                    
                    <div class='articles' id='text3.1' >
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>The temperature must be hot enough to allow the ions to overcome the Coulomb barrier  (energy barrier due to electrostatic interaction, that two nuclei need to overcome so they can get close enough to undergo a nuclear reaction) and fuse together. This requires a temperature of at least 100 million degrees Celsius. But inside the sun, where the pressure is so high, their kinetic energy is enough to overcome electromagnetic repulsion. The problem is, the pressure inside the star comes from its mass, which is unachievable on Earth, so we need to go for the high temperature. </div></div>



                    <div class='articles' id='text3.2' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>


                    <div class='articles' id='text3.3' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text3.4' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text3.5' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text3.6' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    <button type='button' class='prevButton' id='pb3'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb3'>&#8250;</button></div>




                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk4'>
                    <div class='chunks'><div id='text4.1' class='articles'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>As there is no way to have a mass even close to that of the sun on Earth, we have to think of something else. The scientists have two ideas:

1.	Magnetic confinement 
(Uses magnetic field to squeeze plasma into the ‘donut-shaped’ chamber where the reactions take place)
Plasma is being heat through inducing a large electric shock through it. 


This method uses strong magnetic fields to contain the hot plasma and prevent it from coming into contact with the reactor walls. 
 Plasma follows the magnetic field lines so that plasma does not touch the wall of the container.

It is a doughnut-shaped device in which the combination of two sets of magnetic coils, known as toroidal and poloidal field coils, creates a field in both vertical and horizontal directions. 

</p></div></div>
                    <div class='articles' id='text4.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The magnetic fields hold and shape the charged particles of the plasma by forcing them to follow the magnetic field lines. They essentially create a “cage,” a magnetic bottle, inside which the plasma is confined. 



The largest fusion reactor experiment ITER works like that. 

To increase the electromagnetic current, superconductors are used. And superconductors only work at temperatures close to absolute zero. So, in this one fusion reactor the temperature difference is one of the largest in the known universe! From -263’C in the superconductor to
150 000 000’C of plasma. (10*temperature of the Sun)</div>
                    <div class='articles' id='text4.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text4.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text4.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text4.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    <div class='articles' id='text4.7' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The seventh article</div>
                    
                    
                    
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb4'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb4'>&#8250;</button>
                    
                    </div>

                    
                    <div class='mySlides colorblock_l' style='background-color: #3c096c' id='chunk5'>
                    <div class='chunks'>
                        
                        
                    <div class='articles' id='text5.1'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <p style='magin-top: -100px'><div class='inner_field'>2.	Inertial confinement 

Uses pulses from super powered lasers to heat the surface of the fuel briefly making it hot enough to dense and fuse. Some of the most powerful lasers in the world are used for this matter in the National Ignition Facility in the USA, California. The whole point is that strong lasers are used to heat the fusion fuels. It is done so suddenly that the plasma would not have time to escape before it was burned in the fusion reaction. It would be trapped by its own inertia, hence the name “inertial confinement,” because it relies on the inertia of the implosion (collapse of the system by being squeezed in itself) to bring nuclei close together. 
<p></div></div>
                    <div class='articles' id='text5.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <p style='magin-top: -100px'></p></div>
                    <div class='articles' id='text5.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text5.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text5.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text5.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb5'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb5'>&#8250;</button>
                    
                    </div>
  
                
  
                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk6'>
                    <div class='chunks'>
                    
                    <div class='articles' id='text6.1' >
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>If it works, a simple glass of sea water (rich in Deuterium) will be enough to produce the amount of energy a barrel of oil would have, but without any waste. The materials necessary are deuterium and tritium. Though deuterium is stable and abundant in sea water, tritium is very rare. There might be just about 20kg of it in the world, mostly in the nuclear warheads. There is a necessity to find another element to produce a chemical reaction with deuterium. Helium would do. It is rare on Earth, but there is more than enough on the Moon, which is constantly exposed to solar winds. We can mine it in there (another reason to build a moon-station). However, as no one has started mining helium from the moon yet, lithium is being used in the today’s reactors. It is used to get tritium out of it 

</div></div>



                    <div class='articles' id='text6.2' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>


                    <div class='articles' id='text6.3' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text6.4' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text6.5' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text6.6' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    <button type='button' class='prevButton' id='pb6'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb6'>&#8250;</button></div>



                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk7'>
                    <div class='chunks'><div id='text7.1' class='articles'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>The experiments already work. But it takes more energy to make them work then the amount of energy that they produce.By the way, fusion reactors aren’t dangerous. If something goes wrong, the reaction will simply stop. No explosion, because the energy stored in it at a given time is simply not enough.
Although tritium, if mixed with water, would be unsustainable, there is so little of it in usage at a given time, that it wouldn’t hurt the environment significantly. Besides, the waste that we will get from the fusion reactors has a half-life of a 100 years, not hundreds of thousands as in fission reactors. The only rub in all of this’d is basically the cost.	We don’t know whether or not it all will work on the first place. And the investment necessary is huge. 
</p></div></div>
                    <div class='articles' id='text7.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The second article</div>
                    <div class='articles' id='text7.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text7.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text7.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text7.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    <div class='articles' id='text7.7' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The seventh article</div>
                    
                    
                    
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb7'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb7'>&#8250;</button>
                    
                    </div>

                    
                    <div class='mySlides colorblock_l' style='background-color: #3c096c' id='chunk8'>
                    <div class='chunks'>
                        
                        
                    <div class='articles' id='text8.1'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>Advantages/disadvantages of fusion reactors
1.	They will produce at least five times more energy than the amount of energy it will need to heat the fusing nuclei to the desired temperature. Furthermore, it is estimated that to run a 1000 MW power plant for a year, a fusion reactor will require about 3000 m3m3 of water (source of deuterium) and 10 tonnes of lithium ore, while the current fission reactors consume 25–30 tonnes of enriched uranium. Clearly, gram for gram, fusion reactor wins the energy race by a wide margin.
2.	Fusion fuels are widely available and nearly inexhaustible. Deuterium can be distilled from all forms of water, while reserves of lithium, both terrestrial and sea-based, which would be used to produce tritium, would fulfill needs of fusion reactors for millions of years.
<p></div></div>
                    <div class='articles' id='text8.2' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>
                        <div class='inner_field'><p style='magin-top: -100px'>3.	Unlike fission, fusion will have a low burden of radioactive waste. They will not produce high-level nuclear wastes like their fission counterparts, so disposal will be less of a problem. Fusions by-product is helium—an inert, nontoxic, and nonradioactive gas used to inflate childrens’ balloons. Besides, there will be no fissile material that could be diverted by terrorists to build “dirty bombs.” Moreover, a fusion power station would not require the transport of hazardous radioactive materials.
4.	Fusion reactors are inherently incapable of a runaway reaction that could result in a core meltdown, the most serious calamity possible in a fission reactor. This is because there is no critical mass required for fusion. Besides, fusion reactors work like a gas burner; once the fuel supply is shut off, the reaction stops. There will, therefore, be no off-site radiation-related deaths, even from a severe accident.
5.	Despite being technically nonrenewable, fusion has many of the benefits of renewable energy sources, such as being a long-term source of energy emitting no greenhouse gases. Besides, because it is not dependent on weather, fusion could provide uninterrupted power delivery, unlike solar and wind power.
</p></div></div>
                    <div class='articles' id='text8.3' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text8.4' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text8.5' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text8.6' style='display: none'><svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    
                    <button type='button' class='prevButton' id='pb8'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb8'>&#8250;</button>
                    
                    </div>
  
                
  
                    <div class='mySlides colorblock_l' style='background-color: #a0c4ff' id='chunk9'>
                    <div class='chunks'>
                    
                    <div class='articles' id='text9.1' >
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg><div class='inner_field'>Although fusion does not generate long-lived radioactive products and the unburned gases can be treated on site, there are nevertheless few concerns related to the radioactivity induced by the high-energy neutrons (∼∼14 MeV) that are produced during the d-t reaction. They are:
1.	Some radioactive wastes will be produced due to neutron activation of lithium to produce tritium inside the reactor, but their inventory will be much less than those from fission, and they will be short-lived. Nonetheless, if accidentally released in the air or water, tritium will remain radioactive for a period equal to at least 10 half-lives or 120 years.
</div></div>



                    <div class='articles' id='text9.2' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>2.	The neutrons will irradiate the surrounding structures giving rise to radioactive nuclides, which ultimately have to be disposed of in some waste facility. But their stock will be considerably lower than that from actinides used in fission-based reactors.
3.	Since most of the energy in the d-t reaction is carried away by the neutrons, this could lead to neutron leakage that could be significantly higher than uranium reactors. More neutron leakage means more shielding and improved protection for workers at the power plant.
</div>


                    <div class='articles' id='text9.3' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The third article</div>
                    <div class='articles' id='text9.4' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fourth article</div>
                    <div class='articles' id='text9.5' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The fifth article</div>
                    <div class='articles' id='text9.6' style='display: none'>
                    <svg class='bookmark'><polygon points="0,0 50,0 50,40 25,20, 0,40"></svg>The sixth article</div>
                    
                    
                    </div>
                    <button type='button' class='prevButton' id='pb9'>&#8249;</button>
                    <button type='button' class='nextButton' id='nb9'>&#8250;</button></div>




                    <div id='container1'></div>
                    <div id='container2'></div>
                    <div id='container3'></div>
                    <div id='container4'></div>
                    <div id='container5'></div>
                    
                </div>
  
            
           
            </div>
                
  <script type='text/javascript' src=" {% static 'assets/js/text_blocks_thermonuclear_fus.js' %} "></script>

{% endblock %}





<footnote class='footing'><p class='footing-text'>Should any questions arise, please email <email>support@scien-z.com</email>. 
                        We are always happy tohear from fellow scienZists</p></footnote>



            

            
        


           
            
</div></div>


<script type = "text/javascript">
    const colorHeshes=[
    '#c1d3fe',
    '#5e60ce',
    '#fad2e1',
    '#e6b8a2',
    '#d8e2dc',
    '#219ebc',
    '#e5989b',
    '#457b9d',
    '#005f73',
    '#a0c4ff',
    '#95d5b2',
    '#1a759f',
    '#00afb9',
    '#abc4ff',
    '#f28482',
    '#6d597a',
    '#aed9e0',
    '#2c7da0',
    '#3c096c',
    '#a5adff',
    '#455e89',
];
    let colorIndex = Math.floor(Math.random()*colorHeshes.length);

    function getColorBlock(){
        let colorIndex = Math.floor(Math.random()*colorHeshes.length);
        return colorHeshes[colorIndex]
        };

    const changeThem=(id)=>{
        let colorIndex = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById(id).style.backgroundColor = colorHeshes[colorIndex];
        /*let colorIndex1 = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById('chunk2').style.backgroundColor = colorHeshes[colorIndex1];
        let colorIndex2 = Math.floor(Math.random()*colorHeshes.length);
        document.getElementById('chunk3').style.backgroundColor = colorHeshes[colorIndex2];*/
    }

</script>    
    
<script type='text/javascript' src=" {% static '/Users/scienz/my-app/text_blocks — копия.js' %} "></script>

<script type='text/javascript' src=" {% static '/Users/scienz/scienz-website/scien-z.com/scienz(gatsby)/src/pages/index.js' %} "</script>


<script type='text/javascript' src=" {% static 'src/jqeery-dev — копия.js' %} "></script>
<script type='text/javascript' src=' {% static 'src/unfoldingMenu — копия.js' %} '></script>
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    






  </body>
</html>








































<script>
  
  
  if(true) {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g {% static ';m.parentNode.insertBefore(a,m)' %} 
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  }
  if (typeof ga === "function") {
    ga('create', 'scienzdotcom', 'auto', {});
      
      
      
      
      
      }</script>
      <script>
        $(document).ready(() => {
        
        
          $('.menuSub1').on('click',() => {
            $('#nav-dropdown1').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
            
          });
          $('.menuSub2').on('click',() => {
            $('#nav-dropdown2').slideToggle('0.05s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
          $('.menuSub3').on('click',() => {
            $('#nav-dropdown3').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0000000000000005s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('#nav-dropdown4').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
          $('.menuSub4').on('click',() => {
            $('#nav-dropdown4').slideToggle('0.05s');
            $('#nav-dropdown2').hide('0.0.0000000000000005s');
            $('#nav-dropdown3').hide('0.0.0000000000000005s');
            $('#nav-dropdown1').hide('0.0000000000000005s');
            $('.logingin').slideUp("0.0005s");
          });
        
          
          $('.mySlides').on('click', ()=>{
            $('#nav-dropdown1').slideUp('0.000005s');
            $('#nav-dropdown2').slideUp('0.000005s');
            $('#nav-dropdown3').slideUp('0.000005s');
            $('#nav-dropdown4').slideUp('0.000005s')
        
          });
        
          $('.topic').on('click', ()=>{
            $('#nav-dropdown1').slideUp('0.000005s');
            $('#nav-dropdown2').slideUp('0.000005s');
            $('#nav-dropdown3').slideUp('0.000005s');
            $('#nav-dropdown4').slideUp('0.000005s')
        
          });
        
        
           
        
        });

        


</script>





       
      

        
   
      
      
      <script id="gatsby-script-loader">/*<![CDATA[*/window.pagePath="/";/*]]>*/</script><script id="gatsby-chunk-mapping">/*<![CDATA[*/window.___chunkMapping={"polyfill":["/polyfill-7098fbd47ba30034656d.js"],"app":["/app-d0f2b083c4ed3157418d.js"],"component---src-p {% static 'ages-404-js":["/com' %} ponent---src-pages-404-js-14dbd5a21f6e7794edc5.js"],"component---src-pages-index-js":["/component---src-pages-index-js-c4c3e775d0beba8b3c4e.js"]};/*]]>*/</script><script src="/polyfill-7098fbd47ba30034656d.js" nomodule=""></script><script src="/component---src-pages-index-js-c4c3e775d0beba8b3c4e.js" async=""></script><script src="/app-d0f2b083c4ed3157418d.js" async=""></script><script src="/framework-fa3b7d59246c477b5efb.js" async=""></script><script src="/webpack-runtime-7c055bf1ff9131f915ea.js" async=""></script></body></html>
